#workSection{
    height: 326px;; 
    width: 83%;
    margin: 48px 157px;
    
}
#workSection::before {
    content: "";
    position: absolute;
    height: 642px;
    top: 50px;
    left: 7px;
    width: 99%;
    z-index: -2;
}
#workSection h2{
    font-size: 55px;
    font-family: 'serif';
    text-align: center;
    padding-top: 20px;
}
#workSection div.small{
        text-align: center;
        margin: 34px 7px;
        margin-top: -18px;
        font-family: "serif";
}
.card{
    display: inline-block;
    width: 30%;
    margin: 23px 14px;
    height: 259px;
    border: 0px solid ;
}
.card-box{
    align-items: center;
    justify-content: space-between;
}
.card-img{
    height: 131px;
    padding: 0 14px;
    margin: 10px 74px;
}
.card-img img {
    transition: transform .2s; 
    width: 400px;
    height: 310px;
    border: 12px solid #9c9393;
    border-radius: 5%;
}
.card-img :hover{
    transform: scale(1.1);
}
.card-content {
    font-family: 'serif';
        font-size: 24px;
        margin: 189px 1px;
        margin-left: 102px;
        font-weight: bold;
 }
#footer{
    background: black;
    color: white;
    margin-top: 239px;
    padding: 1px 19px;
}
.content {
    margin-left: 432px;
}